#workskin .h4name,
#workskin .h5direc,
#workskin .pspeech {
  margin: 0;
  padding: 0;
  line-height: 29.124px;
  font-weight: 450;
  margin-bottom: 14.562px;
}

#workskin hr {
  margin: 2.4rem auto;
  width: 66%;
  border: 1px solid #849090;
}

#workskin .pspeech {
  color: #5a6e75;
}

#workskin .h4name {
  font-size: 1rem;
  margin-top: 29.124px;
  text-align: center;
  font-weight: bold;
  color: #4f6369;
  text-transform: uppercase;
}

#workskin .h5direc {
  font-size: 1rem;
  color: #849090;
  text-transform: uppercase;
}

#workskin .wrapper {
  max-width: 3000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 29.124px;
  padding-left: 29.124px;
  color: #5a6e75;
  background-color: #fdf6e3;
}

#workskin .midwrap {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 29.124px;
  padding-left: 29.124px;
  font-family: "Libre Baskerville",Baskerville,"Book Antiqua",Georgia,Times,serif;
  font-size: 18px;
  color: #5a6e75;
  background-color: #fdf6e3;
}
